In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [2]:
data = pd.read_csv('Covid Predesposition/covid.csv')

In [3]:
data.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

In [4]:
data['cons']=0

In [5]:
data.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu,cons
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,1,97,0
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,99,1,97,0
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,1,2,2,99,1,2,0
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,99,1,2,0
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,1,2,1,2,2,2,99,1,2,0

In [6]:
data['ones']= 1

In [7]:
data.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu,cons,ones
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,1,97,0,1
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,99,1,97,0,1
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,1,2,2,99,1,2,0,1
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,99,1,2,0,1
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,2,2,99,1,2,0,1

In [8]:
data=data.drop(['id','entry_date','date_symptoms','date_died'],axis=1)
data.head()

,sex,patient_type,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,...,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu,cons,ones
0,2,1,97,2,27,97,2,2,2,2,...,2,2,2,2,2,2,1,97,0,1
1,2,1,97,2,24,97,2,2,2,2,...,2,2,2,2,2,99,1,97,0,1
2,1,2,2,2,54,2,2,2,2,2,...,2,2,1,2,2,99,1,2,0,1
3,2,2,2,1,30,97,2,2,2,2,...,2,2,2,2,2,99,1,2,0,1
4,1,2,2,2,60,2,1,2,2,2,...,2,1,2,2,2,99,1,2,0,1

In [9]:
# In all feature selection procedures, it is good practice to select the features by examining only the training set
# To avoid overfitting.

X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['icu'], axis=1),
    data['icu'],test_size=0.3, random_state=3)

X_train.shape, X_test.shape

((396621, 20), (169981, 20))

### Using VarianceThreshold

In [10]:
sel = VarianceThreshold(threshold=0)

sel.fit(X_train) # fit finds the features with zero variance

VarianceThreshold(threshold=0)

In [11]:
# get_support is a boolean vector that indicates which features are retained

sum(sel.get_support())

18

In [12]:
constant = X_train.columns[~sel.get_support()]
len(constant)

2

In [13]:
constant

Index(['cons', 'ones'], dtype='object')

In [14]:
for col in constant:
    print(col,X_train[col].unique())

cons [0]
ones [1]

### This option works with categorical variables

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['icu'], axis=1),
    data['icu'],test_size=0.3, random_state=3)

X_train.shape, X_test.shape

((396621, 20), (169981, 20))

In [16]:
constant_feat = [feat for feat in 
                 X_train.columns if X_train[feat].nunique()==1]

len(constant_feat)

2

In [17]:
data['icu'].unique()

array([97,  2,  1, 99], dtype=int64)

In [18]:
sel = VarianceThreshold(threshold = 0.01)
sel.fit(X_train)

VarianceThreshold(threshold=0.01)

In [19]:
sum(~sel.get_support())

2

### Duplicated Features

In [39]:
df = pd.read_csv('Covid Predesposition/covid.csv', nrows=15000)

In [40]:
df['cons']=0

In [41]:
df['ones']=1

In [42]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(labels=['icu'], axis=1),
    df['icu'],test_size=0.3, random_state=3)

X_train.shape, X_test.shape

((10500, 24), (4500, 24))

In [43]:
# Transpose df, to be able to use duplicated()
data_t = X_train.T
data_t.head(30)

,10858,1324,524,2726,3966,2613,12416,1523,1134,8795,...,14026,2707,11261,8981,6400,9160,9859,11513,1688,5994
id,05a6ae,12b0d7,15492c,1dbb94,105e2a,1a05eb,058de8,58763,84412,07e664,...,184c53,0a1d2b,0ff521,008fcd,180423,072a1f,0cc22f,16926b,1af460,0ff5c3
sex,2,2,1,2,1,1,2,1,2,2,...,1,1,2,1,2,2,2,2,1,1
patient_type,2,1,2,2,1,1,1,1,1,1,...,1,2,1,2,2,1,1,1,1,1
entry_date,27-05-2020,12-05-2020,22-05-2020,01-06-2020,12-06-2020,12-06-2020,30-04-2020,01-06-2020,03-06-2020,15-06-2020,...,16-06-2020,30-05-2020,19-05-2020,22-06-2020,27-05-2020,28-05-2020,15-05-2020,08-06-2020,22-05-2020,13-06-2020
date_symptoms,22-05-2020,08-05-2020,15-05-2020,01-06-2020,11-06-2020,08-06-2020,24-04-2020,22-05-2020,02-06-2020,12-06-2020,...,16-06-2020,30-05-2020,15-05-2020,19-06-2020,25-05-2020,27-05-2020,05-05-2020,01-06-2020,14-05-2020,12-06-2020
date_died,28-05-2020,9999-99-99,14-06-2020,13-06-2020,9999-99-99,9999-99-99,11-05-2020,9999-99-99,9999-99-99,9999-99-99,...,9999-99-99,9999-99-99,9999-99-99,9999-99-99,11-06-2020,9999-99-99,9999-99-99,9999-99-99,9999-99-99,9999-99-99
intubed,2,97,2,2,97,97,97,97,97,97,...,97,2,97,2,2,97,97,97,97,97
pneumonia,1,2,1,1,2,2,1,2,2,2,...,2,2,2,2,1,2,2,2,2,2
age,70,60,34,68,48,53,53,37,33,61,...,54,49,14,43,77,31,29,56,37,36
pregnancy,97,97,2,97,2,2,97,2,97,97,...,2,2,97,2,97,97,97,97,2,2
diabetes,1,1,2,2,2,2,2,2,2,2,...,1,2,2,1,2,2,2,2,2,2
copd,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
asthma,2,2,2,2,2,2,2,2,2,2,...,1,2,2,2,2,2,2,2,2,2
inmsupr,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
hypertension,1,1,2,2,2,1,2,2,2,2,...,1,1,2,2,2,2,2,2,2,2
other_disease,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
cardiovascular,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
obesity,1,1,2,1,2,2,2,1,1,1,...,1,1,2,2,2,2,1,2,1,2
renal_chronic,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
tobacco,2,2,2,2,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
contact_other_covid,1,99,99,99,99,99,2,99,99,1,...,1,99,2,1,1,2,2,1,99,1
covid_res,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
cons,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ones,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [44]:
data_t.duplicated().sum()
# this code took too long for original DF, SHOULD BE ONLY USED ON SMALL DF

1

In [45]:
data_t[data_t.duplicated()]

,10858,1324,524,2726,3966,2613,12416,1523,1134,8795,...,14026,2707,11261,8981,6400,9160,9859,11513,1688,5994
ones,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [46]:
# capture duplicated features
dup_features = data_t[data_t.duplicated()].index.values
dup_features

array(['ones'], dtype=object)

In [48]:
# alternatively, remove duplcated rows then transpose
data_uni = data_t.drop_duplicates(keep='first').T
data_uni.shape

(10500, 23)

### Removing duplicates from bigger df

In [55]:
df_big = pd.read_csv('Covid Predesposition/covid.csv')

In [56]:
df_big['cons']=0

In [57]:
df_big['ones']=1

In [58]:
X_train, X_test, y_train, y_test = train_test_split(
    df_big.drop(labels=['icu'], axis=1),
    df_big['icu'],test_size=0.3, random_state=3)

X_train.shape, X_test.shape

((396621, 24), (169981, 24))

In [59]:
dup_feat = []

for i in range(0, len(X_train.columns)):
    if i % 10 == 0:
        print(i)
    
    col_1 = X_train.columns[i]
    
    for col_2 in X_train.columns[i + 1:]:
        if X_train[col_1].equals(X_train[col_2]):
            dup_feat.append(col_2)

0
10
20

In [60]:
print(len(set(dup_feat)))

0